### Logs ###
*.log
logs/

### OS-specific files ###
.DS_Store
Thumbs.db

### Java ###
*.class
*.jar
*.war
*.nar
*.ear
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.env

# Windows Zone.Identifier files
*:Zone.Identifier